@use "@angular/material" as mat;

@include mat.core();
@import "../../../variables.scss";
.details-card {
  max-width: $component-max-width;
  margin: $margin-top auto 25px;
}
.content-wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
mat-card-content {
  width: 50%;
  text-align: center;
}
.mat-mdc-card-content:first-child {
  padding: 0;
}
h3 {
  margin: 0;
  height: 40px;
}
h3:nth-child(even) {
  background-color: $primary-row;
}

.status-card {
  background-color: $primary-row;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: $form-padding;
  text-align: end;
  color: $primary-text;
  mat-card-content {
    text-align: end;
  }
}
.user-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
  font-weight: 800;
  background-color: $primary-row;
}
.detail {
  display: flex;
  flex-direction: column;
  background-color: $grey-background;
  border-radius: $form-border-radius;
  text-align: start;
  padding: $form-padding;
}
.details {
  margin-top: $margin-top;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  color: $primary-text;
}
.detail-info {
  display: flex;
  flex-direction: row;
  gap: 10%;
  color: black;
  border-bottom: 1px solid $primary-text;
  height: 40px;
}
.autosuggestor {
  margin-top: 20px;
}
.applicant-actions {
  button {
    width: 80px;
  }
  .edit:hover {
    color: $grey-background;
    background-color: transparent;
  }
  .delete {
    color: $warn;
  }
  .delete:hover {
    color: $grey-background;
    background-color: $warn-background;
  }
}
.review-container,
.approve-container {
  padding-top: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.autosuggestor {
  margin-right: auto;
}

.review-view,
.approve-view {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid gray;
  padding-top: 20px;
  background-color: $primary-row;
}
