@if (service.application$.getValue(); as application) {
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Application ID {{ application.id }}</mat-card-title>
      <mat-card-subtitle> USER ID {{ application.userId }}</mat-card-subtitle>
    </mat-card-header>
    <div class="content-wrapper">
      <mat-card-content>
        <h3>Car Brand</h3>
        <h3>Car Model</h3>
        <h3>Car Manufacture Year</h3>
        <h3>Application start date</h3>
        <h3>Application end date</h3>
        <h3>Financial obligations</h3>
        <h3>Loan amount</h3>
        <h3>Loan duration in months</h3>
        <h3>Applicant's monthly income</h3>
        <h3>Application approval status</h3>
        <h3>Additional information</h3>
      </mat-card-content>
      <mat-card-content style="padding: 0">
        <h3>{{ application.carMake }}</h3>
        <h3>{{ application.carModel }}</h3>
        <h3>{{ application.manufactureDate }}</h3>
        <h3>{{ application.startDate }}</h3>
        <h3>{{ application.endDate }}</h3>
        <h3>{{ application.financialObligations }}</h3>
        <h3>{{ application.loanAmount }}</h3>
        <h3>{{ application.loanDuration }}</h3>
        <h3>{{ application.monthlyIncome }}</h3>
        <h3>{{ application.status }}</h3>
        <h3>{{ application.textExplanation }}</h3>
      </mat-card-content>
    </div>
    <mat-card-actions> </mat-card-actions>
    @switch (user()?.role) {
      @case (EMPLOYEE_ROLE.REVIEWER) {
        <mat-card-actions>
          <app-autosuggestor />
        </mat-card-actions>
      }
      @case (EMPLOYEE_ROLE.APPROVER) {
        <mat-card-actions>
          <app-autosuggestor />
        </mat-card-actions>
      }
      @case (EMPLOYEE_ROLE.APPLICANT) {
        <mat-card-actions>
          <button mat-button>EDIT</button>
          <button mat-button>DELETE</button>
        </mat-card-actions>
      }
    }
  </mat-card>
}
