@use "@angular/material" as mat;

@include mat.core();
@import "../../../styles.scss";
.max-width {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
tr:hover {
  background-color: mat.get-color-from-palette($primary-hover);
  transition: 0.5s;
}
