<div class="container">
  <h3 class="lease-form-header">Lease application form</h3>
  <form
    [formGroup]="leaseForm"
    (ngSubmit)="onSubmit()"
    class="loan-application-form"
  >
    <mat-form-field class="full-width-form-field" appearance="outline">
      <mat-label>Monthly Income</mat-label>
      <input
        matInput
        type="number"
        placeholder="Enter Monthly Income"
        formControlName="monthlyIncome"
        required
      />
    </mat-form-field>

    <mat-form-field class="full-width-form-field" appearance="outline">
      <mat-label>Monthly Financial Obligations</mat-label>
      <input
        matInput
        type="number"
        placeholder="Enter Monthly Financial Obligations"
        formControlName="monthlyObligations"
        required
      />
    </mat-form-field>

    <mat-form-field class="full-width-form-field" appearance="outline">
      <mat-label>Car Brand</mat-label>
      <mat-select
        placeholder="Select Car Brand"
        formControlName="carMake"
        required
      >
        @for (car of this.service.cars$.value; track car.make) {
        <mat-option [value]="car.make">{{ car.make }}</mat-option
        >}
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width-form-field" appearance="outline">
      <mat-label>Car Model</mat-label>
      <mat-select
        placeholder="Select Car Model"
        formControlName="carModel"
        required
        >@for (car of this.service.cars$.value; track car) {
        <mat-option [value]="car.model">{{ car.model }}</mat-option
        >}
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width-form-field" appearance="outline">
      <mat-label>Leasing Amount</mat-label>
      <input
        matInput
        type="number"
        placeholder="Enter Leasing Amount"
        formControlName="leasingAmount"
        required
      />
    </mat-form-field>

    <div class="slider-container">
      <label class="slider-label">Car Year</label>
      <mat-slider min="1994" max="2024" step="1" discrete
        ><input matSliderThumb formControlName="carYear"
      /></mat-slider>
      <div class="slider-info">
        <span class="slider-value">{{
          leaseForm.get("carYear")?.value ?? "Not set"
        }}</span>
        <span class="slider-max">2024</span>
      </div>
    </div>

    <div class="slider-container">
      <label class="slider-label">Duration of Loan (months)</label>
      <mat-slider
        min="3"
        max="68"
        step="1"
        discrete
        thumbLabel
        tickInterval="5"
      >
        <input matSliderThumb formControlName="duration"
      /></mat-slider>
      <div class="slider-info">
        <span class="slider-value"
          >{{ leaseForm.get("duration")?.value ?? "Not set" }} months</span
        >
        <span class="slider-max">68 months</span>
      </div>
    </div>

    <mat-form-field class="full-width-form-field" appearance="outline">
      <mat-label>Explanation</mat-label>
      <textarea
        matInput
        placeholder="Enter Explanation (up to 420 characters)"
        formControlName="explanation"
        maxlength="420"
      ></textarea>
    </mat-form-field>

    <div class="button-container">
      <button type="submit" mat-raised-button [disabled]="!leaseForm.valid">
        Submit
      </button>
    </div>
  </form>
</div>
