@use "@angular/material" as mat;
@import "../../../variables.scss";
@include mat.core();

.container {
  position: relative;
  padding: 50px;
  // min-height: 100vh;
  margin-bottom: 20px;
  margin-top: 50px;
}

.lease-form-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: $primary-text;
  text-align: center;
}

.loan-application-form {
  max-width: 900px;
  margin: $margin-x-auto;

  padding: $form-padding;
  border-radius: $form-border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .slider-container {
    margin-bottom: 20px;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1em;

    mat-slider {
      width: 100%;
      margin: 0 10px;
    }

    .slider-value {
      margin-top: 5px;
      font-size: 16px;
      color: $grey-background-text;
    }

    .slider-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .slider-max {
      font-size: 16px;
      color: $grey-background-text;
      margin-top: 5px;
    }

    .slider-label {
      color: $grey-background-text;
    }
  }

  .button-container {
    text-align: center;
    display: flex;
    justify-content: end;
    gap: 5%;

    button[type="submit"] {
      padding: 5px 50px;
      margin-top: 5px;
      background-color: white;
      outline: 2px solid $primary-background;
      color: $primary-background;
      background-color: white;
    }

    button[type="button"] {
      padding: 5px 50px;
      margin-top: 5px;
      background-color: white;
      outline: 2px solid $pink;
      color: $pink;
      background-color: white;
    }

    button[type="submit"]:hover {
      cursor: pointer;
      background-color: $primary-background;
      outline: 2px solid $primary-background;
      color: white;
    }

    button[type="button"]:hover {
      cursor: pointer;
      background-color: $pink;
      outline: 2px solid $pink;
      color: white;
    }

    button:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .section {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin: $margin-x-auto;
    align-content: flex-end;
  }

  .col {
    flex-basis: 45%;
    box-sizing: border-box;
  }

  mat-form-field {
    width: 100%;
    padding: 0;
  }

  .unauthorized {
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    max-width: 90%;
  }
}