<div class="container">
  <h3 class="lease-form-header">Lease application form</h3>
  <form
    [formGroup]="leaseForm"
    (ngSubmit)="onSubmit()"
    class="loan-application-form"
  >
    <div class="loan-section section">
      <mat-form-field class="full-width-form-field col" appearance="outline">
        <mat-label>Monthly Income after Taxes</mat-label>
        <input
          matInput
          type="number"
          placeholder="Enter Monthly Income"
          formControlName="monthlyIncome"
          required
        />
      </mat-form-field>
      <mat-form-field
        class="full-width-form-field col right col"
        appearance="outline"
      >
        <mat-label>Car Brand</mat-label>
        <mat-select
          placeholder="Select Car Brand"
          formControlName="carMake"
          required
        >
          @for (make of uniqueCarBrands$ | async; track make) {
            <mat-option [value]="make">{{ make }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="personal-info-section section">
      <mat-form-field class="full-width-form-field col" appearance="outline">
        <mat-label>Monthly Financial Obligations</mat-label>
        <input
          matInput
          type="number"
          placeholder="Enter Monthly Financial Obligations"
          formControlName="financialObligations"
          required
        />
      </mat-form-field>
      <mat-form-field
        class="full-width-form-field col right-col"
        appearance="outline"
      >
        <mat-label>Car Model</mat-label>
        <mat-select
          placeholder="Select Car Model"
          formControlName="carModel"
          required
        >
          @for (model of filteredModels$ | async; track model) {
            <mat-option [value]="model">{{ model }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="loan-section section">
      <div class="slider-container col">
        <label class="slider-label" for="car">Duration of Lease (months)</label>
        <mat-slider
          name="car"
          min="{{ LoanFormConfig.minLoanDuration }}"
          max="{{ LoanFormConfig.maxLoanDuration }}"
          step="{{ LoanFormConfig.sliderStep }}"
          discrete
          thumbLabel
          tickInterval="5"
        >
          <input matSliderThumb formControlName="loanDuration"
        /></mat-slider>
        <div class="slider-info">
          <span class="slider-value">{{ loanDuration }} months</span>
          <span class="slider-max"
            >{{ LoanFormConfig.maxLoanDuration }} months</span
          >
        </div>
      </div>
      <div class="slider-container col right-col">
        <label class="slider-label" for="year">Car Year</label>
        <mat-slider
          min="{{ LoanFormConfig.minCarYear }}"
          max="{{ LoanFormConfig.maxCarYear }}"
          step="{{ LoanFormConfig.sliderStep }}"
          ><input matSliderThumb formControlName="manufactureDate" name="year"
        /></mat-slider>
        <div class="slider-info">
          <span class="slider-value">{{ manufactureDate }}</span>
          <span class="slider-max">{{ LoanFormConfig.maxCarYear }}</span>
        </div>
      </div>
    </div>

    <div class="car-section section">
      <mat-form-field class="full-width-form-field col" appearance="outline">
        <mat-label>Lease Amount</mat-label>
        <input
          matInput
          type="number"
          placeholder="Enter Leasing Amount"
          formControlName="loanAmount"
          required
        />
      </mat-form-field>

      <mat-form-field
        class="full-width-form-field col right-col"
        appearance="outline"
      >
        <mat-label>Other relevant information</mat-label>
        <textarea
          matInput
          placeholder="Enter Explanation (up to {{
            LoanFormConfig.maxExplanationLength
          }} characters)"
          formControlName="textExplanation"
          maxlength="{{ LoanFormConfig.maxExplanationLength }}"
        ></textarea>
      </mat-form-field>
    </div>

    @if (unauthorized) {
      <mat-error class="unauthorized">{{
        ERROR_MESSAGES.GENERIC_ERROR
      }}</mat-error>
    }

    <div class="button-container">
      <button
        type="button"
        mat-raised-button
        [disabled]="!leaseForm.valid"
        (click)="onSave()"
      >
        Save
      </button>
      <button type="submit" mat-raised-button [disabled]="!leaseForm.valid">
        Submit
      </button>
    </div>
  </form>
</div>
