<form [formGroup]="loanForm" class="loan-wrapper">
  <div class="input-field-wrapper">
    <h2>Monthly payment calculator</h2>
    <div class="input-container">
      <mat-form-field appearance="outline">
        <mat-label>Lease Amount:</mat-label>
        <input
          formControlName="loanAmount"
          matInput
          placeholder="Enter loan amount"
        />
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field appearance="outline">
        <mat-label>Lease Duration (months):</mat-label>
        <input
          formControlName="loanDuration"
          matInput
          placeholder="Enter loan duration"
        />
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field appearance="outline">
        <mat-label>Interest Rate (%):</mat-label>
        <input
          formControlName="interestRate"
          matInput
          placeholder="Enter interest rate"
        />
      </mat-form-field>
    </div>
    <div class="input-container">
      <div>
        <h2>Monthly Payment: {{ monthlyPayment }} €</h2>
      </div>
    </div>
  </div>
</form>
