@use "@angular/material" as mat;

@include mat.core();
@import "../../../variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-welcome {
  margin: 10rem auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  color: white;
  height: 30rem;
  border-radius: 4rem;
  margin-bottom: 12rem;
}

.welcome-wrapper,
.login-wrapper {
  padding: 2rem;
  width: 50%;
  text-align: center;
  align-content: center;

  h1 {
    font-size: 3rem;
    text-wrap: wrap;
  }

  p {
    margin-top: 50px;
  }

  img {
    width: 200px;
  }
}

.welcome-wrapper {
  background-color: $primary-background;
  border-radius: 4rem;
  text-align: center;
  align-content: center;
}

.button-container {
  button[type="submit"] {
    padding: 0.5rem 5rem;
    margin-top: 0.5rem;
    background-color: white;
    outline: 2px solid $primary-background;
    color: $primary-background;
  }

  button:hover {
    cursor: pointer;
    background-color: $primary-background;
    outline: 2px solid $primary-background;
    color: white;
    transition: 0.5s;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.input-field-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 700px) {
  .login-welcome {
    margin: 2rem auto 5rem;
    height: auto;
    width: fit-content;
    flex-direction: column;
  }

  .welcome-wrapper,
  .login-wrapper {
    padding: 2rem;
    width: auto;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }

    img {
      width: 100px;
    }
  }

  .button-container {
    button[type="submit"] {
      margin-top: -1.5rem;
      height: fit-content;
      width: 80%;
      padding: 1.6rem 2rem;
      font-size: 1.5rem;
    }
  }
}
