@use "@angular/material" as mat;

@include mat.core();
@import "../../../variables.scss";
.login-welcome {
  margin: 10rem auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  color: white;
  height: 30rem;
  border-radius: 4rem;
}
.welcome-wrapper,
.login-wrapper {
  padding: 3rem;
  width: 50%;
  text-align: center;
  align-content: center;
}
.welcome-wrapper {
  background-color: $primary-background;
  border-radius: 4rem;
  text-align: center;
  align-content: center;
}
.button-container {
  button[type="submit"] {
    padding: 0.5rem 5rem;
    margin-top: 0.5rem;
    background-color: $primary-background;
    color: white;
  }
  button:hover {
    background-color: $primary-hover;
  }
}
.unauthorized {
  color: $warn;
  text-align: start;
  font-size: 11px;
  visibility: visible;
}
.autorized {
  visibility: hidden;
}
.input-field-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 700px) {
}
