@use "@angular/material" as mat;

@include mat.core();
@import "../../../variables.scss";

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../assets/por.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}

.login-welcome {
  margin: 10rem auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  color: white;
  height: 30rem;
  border-radius: 4rem;
}
.welcome-wrapper,
.login-wrapper {
  padding: 3rem;
  width: 50%;
  text-align: center;
  align-content: center;
}
.welcome-wrapper {
  background-color: $primary-background;
  border-radius: 4rem;
  text-align: center;
  align-content: center;
}
.button-container {
  button[type="submit"] {
    padding: 0.5rem 5rem;
    margin-top: 0.5rem;
    background-color: $primary-background;
    color: white;
  }
  button:hover {
    background-color: $primary-hover;
  }
}
.input-field-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 700px) {
  .login-welcome {
    margin: 5rem auto 5rem;
    height: auto;
    width: 80%;
    flex-direction: column;
  }

  .welcome-wrapper,
  .login-wrapper {
    padding: 2rem;
    width: 80%;

    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .button-container {
    button[type="submit"] {
      margin-top: -1.5rem;
      height: fit-content;
      width: 80%;
      padding: 1.6rem 5rem;
      font-size: 1.5rem;
    }
  }
}
