<div color="primary" class="opacity-50 wrapper sticky">
  <mat-toolbar color="primary" class="opacity-50 width">
    <h1>CarLess</h1>
    <span class="example-spacer"></span>
    @if (role){
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>menu</mat-icon></button
    >}
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goToLeaseList()">
        <mat-icon>home</mat-icon>
        <span>My Leases</span>
      </button>
      @if (role==='SYSTEM_ADMIN'){
      <button mat-menu-item (click)="goToSysAdminView()">
        <mat-icon>manage_search</mat-icon>
        <span>User List</span>
      </button>
      } @if (role==='BUSINESS_ADMIN'){
      <button mat-menu-item (click)="goToBusAdminView()">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>User List</span>
      </button>
      } @if (role === 'APPLICANT') {
      <button mat-menu-item (click)="goToLeaseForm()">
        <mat-icon>add</mat-icon>
        <span>New Lease</span>
      </button>
      }
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>
