@if (user()) {
  <div color="primary" class="opacity-50 wrapper sticky">
    <mat-toolbar color="primary" class="opacity-50 width">
      <div class="home-button">
        <img
          src="/assets/motoring-car-svgrepo-com.svg"
          alt="My SVG Image"
          height="40px"
        />
        <button type="button" (click)="goHome()">CarLess</button>
      </div>
      <span class="example-spacer"></span>
      <div class="menu-items">
        @switch (user()?.role) {
          @case (EMPLOYEE_ROLE.APPLICANT) {
            <button mat-button (click)="goToLeaseForm()">
              <mat-icon>add</mat-icon>
              <span>New Lease</span>
            </button>
            <button mat-button (click)="goToLeaseList()">
              <mat-icon>home</mat-icon>
              <span>My Leases</span>
            </button>
          }
          @case (EMPLOYEE_ROLE.SYSTEM_ADMIN) {
            <button mat-button (click)="goToSysAdminView()">
              <mat-icon>manage_accounts</mat-icon>
              <span>User List</span>
            </button>
          }
          @case (EMPLOYEE_ROLE.BUSINESS_ADMIN) {
            <button mat-button (click)="goToAutosuggestorForm()">
              <mat-icon>trending_up</mat-icon>
              <span>Autosuggestor form</span>
            </button>
            <button mat-button (click)="goToCarPriceModifier()">
              <mat-icon>tune</mat-icon>
              <span>Car Price Modifier</span>
            </button>
          }
          @case (EMPLOYEE_ROLE.REVIEWER) {
            <button mat-button (click)="goToLeaseList()">
              <mat-icon>assignment</mat-icon>
              <span>Leases</span>
            </button>
          }
          @case (EMPLOYEE_ROLE.APPROVER) {
            <button mat-button (click)="goToLeaseList()">
              <mat-icon>assignment</mat-icon>
              <span>Leases</span>
            </button>
          }
        }
      </div>
      <button class="logout" mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </button>
    </mat-toolbar>
  </div>
}
