@use "@angular/material" as mat;
@import "../../../variables.scss";
@include mat.core();

.autosuggestor-view {
  padding: 50px;
  min-height: 100vh;
}

.autosuggestor-form-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: $light-blue-background;
  text-align: center;
}

.autosuggestor-application-form {
  max-width: $autosuggestor-form-max-width;
  margin: $margin-x-auto;

  padding: $form-padding;
  border-radius: $form-border-radius;
  box-shadow: $form-box-shadow;

  .full-width-form-field {
    width: calc(100%);
    margin-bottom: 20px;
    .half-width-form-field {
      width: calc(50% - 5px);
    }
    .half-width-form-field:first-child {
      margin-right: 10px;
    }
  }

  .button-container {
    display: flex;
    justify-content: end;
    button[type="submit"] {
      padding: 5px 50px;
      margin-top: 5px;
      background-color: white;
      outline: 2px solid $primary-background;
      color: $primary-background;
    }
    button[type="submit"]:hover {
      cursor: pointer;
      background-color: $primary-background;
      outline: 2px solid $primary-background;
      color: white;
      transition: 0.5s;
    }
    button:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  .year-slider-container {
    margin: auto;
    max-width: calc(100%);

    mat-slider {
      width: calc(100%);
    }

    .slider-values {
      margin-top: 5px;
      font-size: 16px;
      color: $grey-background-text;
    }
    .slider-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .slider-label {
      color: $grey-background-text;
    }
  }
  .unauthorized {
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    max-width: 90%;
  }
}
