@import 'material-icons/iconfont/material-icons.css';
$material-symbols-font-path: 'material-symbols/';
@import 'material-symbols';

html,
body {
  height: 100%;

  overflow: auto;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
