@use "@angular/material" as mat;
@include mat.core();

html,
body {
  height: 100%;

  overflow: auto;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
$primary: mat.define-palette(mat.$indigo-palette, 200);

$primary-color: #3f51b5;

$primary-hover: mat.define-palette(mat.$indigo-palette, 50);
