@use "@angular/material" as mat;
@include mat.core();
$margin-top: 64px;
$component-max-width: 1000px;
$autosuggestor-form-max-width: 600px;
$margin-x-auto: 0 auto;
$form-padding: 20px;
$form-border-radius: 8px;
$form-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

$primary-text-700: mat.define-palette(mat.$grey-palette, 700);
$grey-background-100: mat.define-palette(mat.$grey-palette, 100);
$grey-background-700: mat.define-palette(mat.$grey-palette, 500);
$grey-background-600: mat.define-palette(mat.$grey-palette, 600);
$primary-200: mat.define-palette(mat.$indigo-palette, 200);
$primary-text-800: mat.define-palette(mat.$indigo-palette, 800);
$primary-50: mat.define-palette(mat.$indigo-palette, 50);
$primary-100: mat.define-palette(mat.$indigo-palette, 100);
$warn-600: mat.define-palette(mat.$red-palette, 600);
$warn-200: mat.define-palette(mat.$red-palette, 200);
$pink-200: mat.define-palette(mat.$pink-palette, 400);
$pink-100: mat.define-palette(mat.$pink-palette, 100);

$primary-background: mat.get-color-from-palette($primary-200);
$primary-text-indigo: mat.get-color-from-palette($primary-text-800);
$primary-row: mat.get-color-from-palette($primary-50);
$primary-hover: mat.get-color-from-palette($primary-100);
$warn: mat.get-color-from-palette($warn-600);
$warn-background: mat.get-color-from-palette($warn-200);
$primary-text: mat.get-color-from-palette($primary-text-700);
$grey-background: mat.get-color-from-palette($grey-background-100);
$grey-background-button: mat.get-color-from-palette($grey-background-700);
$grey-background-badge: mat.get-color-from-palette($grey-background-600);
$pink: mat.get-color-from-palette($pink-200);
$pink-hover: mat.get-color-from-palette($pink-100);
